// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.list-posts th{text-align: center !important;}
.th-image{width:120px;}
.image-post img {width:100px !important; height:100px;}
.black-color a{color:#000;}
.gray-color{color:#222;}